<div class="cont">
  <div class="main">
    <h1 style="color: white; font-size: 70px;">Typing Test</h1>
    <h4 class="randomText">
      <span *ngFor="let letter of randomText.split('');let enteredLetterIndex=index" [class]="compare(letter,enteredLetterIndex)">{{ letter }}</span></h4>
    <input class="textbar" style="margin-top: 5%;" type="text" placeholder="Start typing here..."  (input)="onTypingText($event)">
    <div class="success" *ngIf="randomText==enteredText">
      <h2 class="success">Success</h2>
    </div>
  </div>
</div>